######################################################################################
# Drone Framework HTACCESS
# @package Drone
# @author Shay Anderson 05.14
######################################################################################

RewriteEngine On

# set custom 404 to display application 404
ErrorDocument 404 /404

# force www. (optional)
# RewriteCond %{HTTP_HOST} !^www\.
# RewriteRule ^(.*)$ http://www\.%{HTTP_HOST}/$1 [R=301,L]

# deny access to './_app' dir
RewriteRule ^_app\/(.*)$ - [R=404,L]

# deny access to SVN dirs
RewriteRule ^.*?\.svn\/(.*)$ - [R=404,L]

# route files/directories that do not exist to Drone
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]